<%- include('partials/loggedIn-header') -%>

    <% for(var i=0; i<posts.length; i++) { %>
        <div class="collapse collapse-open bg-base-200">
            <input type="radio" name="my-accordion-<%= i %>" <%=i===0 ? ' checked="checked"' : '' %> />
            <div class="collapse-title text-xl font-medium">
                <h2>
                    <%= posts[i].title %>
                </h2>
            </div>
            <div class="collapse-content">
                <ul>
                    <li>
                        <a href="/post/<%= posts[i]._id%>">
                            <img class="img-fluid" src="<%= posts[i].image%>">

                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <% } %>

            <%- include('partials/footer') -%>